{% set title = 'About Us' %}
{% extends "::base.html.twig" %}

{% block title %}SiteBundle:About:about{% endblock %}

{% block body %}
	<div class="page-header">
		<div class="container">
			<h1 class="title">About {{ company_name }}</h1>
		</div>
	</div>
	<!-- page-header -->
	<section id="say-hello" class="page-section">
		<div class="container">
			<div class="row">
				<div class="col-md-4 bottom-xs-pad-30 visible-md visible-lg text-center">
					<!-- Image -->
					<img src="{{ asset('bundles/site/images/sections/about/executive-team.jpg') }}" width="280" height="440 alt="Executive Team">
				</div>
				<div class="col-md-8">
					<div class="section-title text-left">
						<h2 class="title">Superior Quality Patient-Centered Services</h2>
					</div>
					<p><span class="lead">{{ company_name }}, LLC is an organization strategically launched to transform healthcare delivery in the local community.</span> Over the last 3 years, more than 630 physicians have joined our clinically integrated physician network. SHP is committed to supporting independent, self-employed physicians as well as those employed by HonorHealth. SHP delivers value-based healthcare defined by superior quality and patient-centered services. Formed in 2012, SHP launched with 430 physicians and covered approximately 3,500 patients. Today SHP has contracts with seven major insurance companies and covers more than 35,000 patients.</p>
					<p>Clinical Integration is key to improving healthcare quality while eliminating inefficient spending, and SHP's physician-led network offers the tools necessary to deliver best practice patient care.</p>
				</div>
			</div>
		</div>
	</section>
	<section id="features" class="page-section light-bg">
		<div class="container">
			<div class="section-title">
				<!-- Heading -->
				<h2 class="title">Clinical Integration is designed to improve healthcare delivery through:</h2>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<ul class="check-style f-5x title">
						<!-- Title -->
						<li>Remarkable improvements in clinical outcomes and evidence-based care for patients</li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-4">
					<ul class="check-style f-5x title">
						<!-- Title -->
						<li>Coordinated care between physicians, hospitals and other healthcare professionals</li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-4">
					<ul class="check-style f-5x title">
						<!-- Title -->
						<li>Quality of care and performance reports</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<ul class="check-style f-5x title">
						<!-- Title -->
						<li>Delivery of the right care, at the right time, in the right place</li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-4">
					<ul class="check-style f-5x title">
						<!-- Title -->
						<li>Reduced healthcare costs for patients, employers and health plans</li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-4">
					<ul class="check-style f-5x title">
						<!-- Title -->
						<li>Improved physician reimbursement through demonstrated quality improvements and reductions in health care delivery costs</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section id="addition-info" class="page-section">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-6">
					<div class="section-title text-left">
						<!-- Heading -->
						<h2 class="title">Accountable Care Organization</h2>
					</div>
					<p>{{ company_name }} is participating in the Medicare Shared Savings Program (MSSP) Accountable Care program. The SHP Accountable Care Organization (ACO) is made up of a subset of SHP's physicians who have agreed to meet an extra set of government requirements in order to give coordinated high quality care to their Medicare patients. When our ACO succeeds both in delivering high-quality care and spending health care dollars more wisely, we will share in the savings we helped to achieve for the Medicare program.</p>
				</div>
				<div class="col-sm-6 col-md-6">
					<div class="section-title text-left">
						<!-- Heading -->
						<h2 class="title">Patients benefit from the ACO through</h2>
					</div>
					<ul class="features-list condensed features-list-left no-pad">
						<li class="features-list-item">
							<!-- Icon -->
							<i class="fa fa-thumbs-up fa-2x"></i>
							<div class="features-content">
								<!-- Title -->
								<h5>Increased quality and personalization of healthcare</h5>
							</div>
						</li>
						<li class="features-list-item">
							<!-- Icon -->
							<i class="fa fa-remove fa-2x"></i>
							<div class="features-content">
								<!-- Title -->
								<h5>Elimination of unnecessary and repetitive tests</h5>
							</div>
						</li>
						<li class="features-list-item">
							<!-- Icon -->
							<i class="fa fa-align-justify fa-2x"></i>
							<div class="features-content">
								<!-- Title -->
								<h5>Cooperation and alignment of physicians in overall course of treatment</h5>
							</div>
						</li>
						<li class="features-list-item">
							<!-- Icon -->
							<i class="fa fa-user-md fa-2x"></i>
							<div class="features-content">
								<!-- Title -->
								<h5>Care coordinators who help patients navigate through the healthcare system</h5>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- addition-info -->
	<div id="learn-more" class="light-bg call-to-action black text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<a class="black" href="{{ path('_a_c_o') }}">Learn more</a> about the ACO
				</div>
			</div>
		</div>
	</div>
{% endblock %}
