{% set title = 'Contact Us' %}
{% extends "::base.html.twig" %}

{% block title %}SiteBundle:Contact:contact{% endblock %}

{% block body %}

	<div class="page-header">
		<div class="container">
			<h1 class="title">Contact {{ company_name }}</h1>
		</div>
	</div>
	<!-- page-header -->
	<section id="contact-us" class="page-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2 class="title">Want to know more about us?</h2>
					</div>
				</div>
				<div class="col-md-6">

					<address class="row">
						<div class="row-height">
							<div class="col-xs-2 col-height col-middle">
								<div class="inside">
									<i class="fa fa-map-marker i-7x icons-circle text-color light-bg hover-black"></i>
								</div>
							</div>
							<div class="col-xs-10 col-height col-middle">
								<div class="inside">
									<div class="title">Address</div>
									{{ company_address1 }}{% if company_address2 != '' %}, {{ company_address2 }}{% endif %}<br/>{{ company_city }}, {{ company_state }} {{ company_zip_code }}
								</div>
							</div>
						</div>
					</address>
					<address class="row">
						<div class="row-height">
							<div class="col-xs-2 col-height col-middle">
								<div class="inside">
									<i class="fa fa-microphone i-7x icons-circle text-color light-bg hover-black"></i>
								</div>
							</div>
							<div class="col-xs-10 col-height col-middle">
								<div class="inside">
									<div class="title">Phones</div>
									<p>Support: {{ company_phone }}</p>
								</div>
							</div>
						</div>
					</address>
					<address class="row">
						<div class="row-height">
							<div class="col-xs-2 col-height col-middle">
								<div class="inside">
									<i class="fa fa-envelope i-7x icons-circle text-color light-bg hover-black"></i>
								</div>
							</div>
							<div class="col-xs-10 col-height col-middle">
								<div class="inside">
									<div class="title">Email Addresses</div>
									<p>Support: <a href="mailto:{{ support_email }}">{{ support_email }}</a></p>
								</div>
							</div>
						</div>
					</address>

				</div><!-- Contact Info -->
				<div class="col-md-6">
					<p class="form-message alert hidden"></p>
					<div class="contact-form">
						<!-- Form Begins -->
						{{ form_start(contact, {'action': path('contact_process'), 'attr': {'id': 'contactform'}}) }}
						<div class="input-text form-group">
							{{ form_widget(contact.fullName, { 'attr': {'class': 'input-name form-control', 'placeholder': 'Full Name'} }) }}
						</div>
						<div class="input-email form-group">
							{{ form_widget(contact.email, { 'attr': {'class': 'input-email form-control', 'placeholder': 'Email'} }) }}
						</div>
						<div class="input-phone form-group">
							{{ form_widget(contact.phone, { 'attr': {'class': 'input-phone form-control', 'placeholder': 'Phone'} }) }}
						</div>
						<div class="textarea-message form-group">
							{{ form_widget(contact.message, { 'attr': {'class': 'textarea-message hight-82 form-control', 'placeholder': 'Message'} }) }}
						</div>
						<button type="submit" class="btn btn-default btn-block">Send Now <i class="icon-paper-plane"></i></button>
						{{ form_end(contact) }}
						<!-- Form Ends -->
					</div>
				</div>
			</div>
	</section><!-- page-section -->

{% endblock %}
