{% set title = 'Contact Us' %}
{% extends "::base.html.twig" %}

{% block title %}SiteBundle:Contact:contact{% endblock %}

{% block body %}

	<div class="page-header">
		<div class="container">
			<h1 class="title">Contact {{ company_name }}</h1>
		</div>
	</div>
	<!-- page-header -->
	<section id="contact-us" class="page-section">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="row text-center">
						<address class="col-sm-4 col-md-4">
							<i class="fa fa-map-marker i-8x icons-circle text-color light-bg hover-black"></i>
							<div class="title">Address</div>
							{{ company_address1 }}{% if company_address2 != '' %}, {{ company_address2 }}{% endif %}<br/>{{ company_city }}, {{ company_state }} {{ company_zip_code }}
						</address>
						<address class="col-sm-4 col-md-4">
							<i class="fa fa-microphone i-8x icons-circle text-color light-bg hover-black"></i>
							<div class="title">Phones</div>
							<div>Support: {{ company_phone }}</div>
						</address>
						<address class="col-sm-4 col-md-4">
							<i class="fa fa-envelope i-8x icons-circle text-color light-bg hover-black"></i>
							<div class="title">Email Addresses</div>
							<div>Support: <a href="mailto:{{ support_email }}">{{ support_email }}</a></div>
						</address>
					</div>
					<hr/>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div><!-- Contact Info -->
				<div class="col-md-4">
					<p class="form-message alert hidden"></p>
					<div class="contact-form">
						<!-- Form Begins -->
						{{ form_start(contact, {'action': path('contact_process'), 'attr': {'id': 'contactform'}}) }}
						<div class="input-text form-group">
							{{ form_widget(contact.fullName, { 'attr': {'class': 'input-name form-control', 'placeholder': 'Full Name'} }) }}
						</div>
						<div class="input-email form-group">
							{{ form_widget(contact.email, { 'attr': {'class': 'input-email form-control', 'placeholder': 'Email'} }) }}
						</div>
						<div class="input-phone form-group">
							{{ form_widget(contact.phone, { 'attr': {'class': 'input-phone form-control', 'placeholder': 'Phone'} }) }}
						</div>
						<div class="textarea-message form-group">
							{{ form_widget(contact.message, { 'attr': {'class': 'textarea-message hight-82 form-control', 'placeholder': 'Message'} }) }}
						</div>
						<button type="submit" class="btn btn-default btn-block">Send Now <i class="icon-paper-plane"></i></button>
						{{ form_end(contact) }}
						<!-- Form Ends -->
					</div>
				</div>
			</div>
	</section><!-- page-section -->
	{{ block('pe_google_map') }}
	<!-- clients -->
	<div id="get-quote" class="bg-color get-a-quote black text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					Become A Partner / Need Help? <a class="black" href="#">Contact Us </a>
				</div>
			</div>
		</div>
	</div>
	<!-- request -->

{% endblock %}
