{# HOME SLIDER #}
{% block pe_home_slider %}
	<section class="slider">
		<div class="tp-banner">
			<ul>
				<!-- Slide -->
				<li data-delay="7000" class="bg-white" data-transition="fade" data-slotamount="7" data-start-height="300" data-masterspeed="2000">
					<div class="elements">
						<div class="tp-caption tp-resizeme lfb"
							 data-x="450"
							 data-y="95"
							 data-speed="1000"
							 data-start="2040"
							 data-easing="Power4.easeOut"
							 data-endspeed="500"
							 data-endeasing="Power1.easeIn"
							 style="z-index: 4; text-shadow: 0px 0px 20px #ffffff, 0px 0px 15px #ffffff, 0px 0px 10px #ffffff, 0px 0px 5px #ffffff;">
							<img src="{{ asset('bundles/site/images/sections/slider/slide-1.png') }}" alt="">
						</div>
						<h2 class="tp-caption lft skewtotop title bold"
							data-x="12"
							data-y="231"
							data-speed="1000"
							data-start="1700"
							data-easing="Power4.easeOut"
							data-endspeed="500"
							data-endeasing="Power1.easeIn"
							style="text-shadow: 0px 0px 20px #ffffff, 0px 0px 15px #ffffff, 0px 0px 10px #ffffff, 0px 0px 5px #ffffff;">
							<strong><span class="text-color">Find</span> a <br>Physician</strong>
						</h2>
						<div class="tp-caption lfr skewtoright description text-left hidden-xs"
							 data-x="12"
							 data-y="400"
							 data-speed="1000"
							 data-start="1900"
							 data-easing="Power4.easeOut"
							 data-endspeed="500"
							 data-endeasing="Power1.easeIn"
							 style="max-width: 600px; text-shadow: 0px 0px 20px #ffffff, 0px 0px 15px #ffffff, 0px 0px 10px #ffffff, 0px 0px 5px #ffffff;">
							<h4><a href="{{ path('our_physicians') }}"><span style="background: #8EB4E6; padding: 5px 20px; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;">Learn More</span></a></h4>
						</div>
					</div>
					<img src="{{ asset('bundles/site/images/sections/slider/slide-1-back.jpg') }}" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
				</li>
				<!-- Slide Ends -->
				<!-- Slide -->
				<li data-delay="7000" data-transition="fade" data-slotamount="7" data-start-height="300" data-masterspeed="2000">
					<div class="elements">
						<h2 class="tp-caption lft skewtotop title bold"
							data-x="12"
							data-y="151"
							data-speed="1000"
							data-start="1700"
							data-easing="Power4.easeOut"
							data-endspeed="500"
							data-endeasing="Power1.easeIn"
							style="text-shadow: 0px 0px 20px #ffffff, 0px 0px 15px #ffffff, 0px 0px 10px #ffffff, 0px 0px 5px #ffffff;">
							<strong>Setting the standard <span class="text-color">for excellence</span><br/>in patient-centered care</strong>
						</h2>
						<div class="tp-caption lfr skewtoright description text-left hidden-xs"
							 data-x="20"
							 data-y="350"
							 data-speed="1000"
							 data-start="1900"
							 data-easing="Power4.easeOut"
							 data-endspeed="500"
							 data-endeasing="Power1.easeIn"
							 style="max-width: 600px; text-shadow: 0px 0px 20px #ffffff, 0px 0px 15px #ffffff, 0px 0px 10px #ffffff, 0px 0px 5px #ffffff;">
							<h4>Our Care Coordinators and Transitional Care Managers are here to support you every step of the way<br/>
							<a href="{{ path('care_management') }}"><span style="background: #8EB4E6; padding: 5px 20px; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;">Learn More</span></a></>
						</div>
					</div>
					<img src="{{ asset('bundles/site/images/sections/slider/slide-2.jpg') }}" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
				</li>
				<!-- Slide Ends -->
				<!-- Slide -->
				<li data-delay="7000" class="bg-white" data-transition="fade" data-slotamount="7" data-start-height="300" data-masterspeed="2000">
					<div class="elements">
						<div class="tp-caption tp-resizeme lfb"
							 data-x="12"
							 data-y="85"
							 data-speed="1000"
							 data-start="2040"
							 data-easing="Power4.easeOut"
							 data-endspeed="500"
							 data-endeasing="Power1.easeIn"
							 style="z-index: 4; text-shadow: 0px 0px 20px #ffffff, 0px 0px 15px #ffffff, 0px 0px 10px #ffffff, 0px 0px 5px #ffffff;">
							<img src="{{ asset('bundles/site/images/sections/slider/slide-3.png') }}" width="500" alt="">
						</div>
						<h2 class="tp-caption lft skewtotop title bold"
							data-x="820"
							data-y="170"
							data-speed="1000"
							data-start="1700"
							data-easing="Power4.easeOut"
							data-endspeed="500"
							data-endeasing="Power1.easeIn"
							style="text-shadow: 0px 0px 20px #ffffff, 0px 0px 15px #ffffff, 0px 0px 10px #ffffff, 0px 0px 5px #ffffff;">
							<strong><span class="text-color">Join</span> SHP</strong>
						</h2>
						<div class="tp-caption lfr skewtoright description text-right hidden-xs"
							 data-x="450"
							 data-y="290"
							 data-speed="1000"
							 data-start="1900"
							 data-easing="Power4.easeOut"
							 data-endspeed="500"
							 data-endeasing="Power1.easeIn"
							 style="max-width: 600px; text-shadow: 0px 0px 20px #ffffff, 0px 0px 15px #ffffff, 0px 0px 10px #ffffff, 0px 0px 5px #ffffff;">
							<h4>More than 675 local healthcare providers have joined {{ company_name }}<br/><a href="http://www.scottsdalehealthpartners.com/"><span style="background: #8EB4E6; padding: 5px 20px; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;">Click here</span></a> to login or to request access<br/>to the SHP physician member website</h4>
						</div>
					</div>
					<img src="{{ asset('bundles/site/images/sections/slider/slide-3-back.jpg') }}" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
				</li>
				<!-- Slide Ends -->
			</ul>
		</div>
		<hr class="no-margin">
	</section>
	<!-- slider -->
{% endblock %}


{# SPEACIAL FEATURES #}
{% block pe_special_features %}
	<div class="row special-feature">
		<!-- Special Feature Box 1 -->
		<div class="col-xs-6 col-sm-3">
			<div class="s-feature-box text-center">
				<a href="{{ path('our_physicians') }}">
					<div class="mask-top">
						<!-- Icon -->
						<i class="fa fa-user-md"></i>
						<!-- Title -->
						<h4>Physician Directory</h4></div>
					<div class="mask-bottom">
						<!-- Icon -->
						<i class="fa fa-user-md"></i>
						<!-- Title -->
						<h4>Physician Directory</h4>
						<!-- Text -->
						<p>Search more than 675 local physicians in the SHP network</p>
					</div>
				</a>
			</div>
		</div>
		<!-- Special Feature Box 2 -->
		<div class="col-xs-6 col-sm-3">
			<div class="s-feature-box text-center">
				<a href="{{ path('hospitals') }}">
					<div class="mask-top">
						<!-- Icon -->
						<i class="fa fa-hospital-o"></i>
						<!-- Title -->
						<h4>Hospitals</h4></div>
					<div class="mask-bottom">
						<!-- Icon -->
						<i class="fa fa-hospital-o"></i>
						<!-- Title -->
						<h4>Hospitals</h4>
						<!-- Text -->
						<p>{{ company_name }} is aligned with 5 quality hospitals in the Phoenix area</p>
					</div>
				</a>
			</div>
		</div>
		<!-- Special Feature Box 3 -->
		<div class="col-xs-6 col-sm-3">
			<div class="s-feature-box text-center">
				<a href="{{ path('insurance_plans') }}">
					<div class="mask-top">
						<!-- Icon -->
						<i class="fa fa-heartbeat"></i>
						<!-- Title -->
						<h4>Insurance Plans</h4></div>
					<div class="mask-bottom">
						<!-- Icon -->
						<i class="fa fa-heartbeat"></i>
						<!-- Title -->
						<h4>Insurance Plans</h4>
						<!-- Text -->
						<p>{{ company_name }} has contracts with major insurance companies</p>
					</div>
				</a>
			</div>
		</div>
		<!-- Special Feature Box 3 -->
		<div class="col-xs-6 col-sm-3">
			<div class="s-feature-box text-center">
				<a href="https://scottsdalehealthpartners.com/" target="_blank">
					<div class="mask-top">
						<!-- Icon -->
						<i class="fa fa-users"></i>
						<!-- Title -->
						<h4>Members</h4></div>
					<div class="mask-bottom">
						<!-- Icon -->
						<i class="fa fa-users"></i>
						<!-- Title -->
						<h4>Members</h4>
						<!-- Text -->
						<p>Would you like to know more about joining the SHP physician network?</p>
						<p><strong>Log in</strong> or <strong>request access</strong> to the SHP Physician Member website</p>
					</div>
				</a>
			</div>
		</div>
	</div>
{% endblock %}


{# WHO WE ARE #}
{% block pe_who_we_are %}
	<div class="owl-carousel pagination-1 dark-switch owl-theme animated fadeInRight visible" data-animation="fadeInRight" data-singleitem="true" data-navigation="false" data-autoplay="false" data-pagination="true">
		<div class="item">
			<!-- Heading -->
			<h2 class="entry-title"><a href="#">Our philosophy</a></h2>
			<!-- Content -->
			<div class="entry-content">
				<p>SHP is committed to transforming healthcare to provide coordinated, patient-centered care of the highest quality and value.</p>
				<ul class="list-style small">
					<label>We believe this is achieved through:</label>
					<li>Strong relationships between primary care providers and patients</li>
					<li>Following evidence-based care guidelines</li>
					<li>Providing care coordination services for patients to help them better navigate the complexity of healthcare and achieve their health goals</li>
					<li>Collaborating, coordinating and communicating within a tightly integrated community of care providers</li>
					<li>Obtaining, analyzing, and leveraging clinical and quality data for better health outcomes</li>
				</ul>
			</div>
		</div>
		<div class="item">
			<!-- Heading -->
			<h2 class="entry-title"><a href="#">Our mission</a></h2>
			<!-- Content -->
			<div class="entry-content">
				<p>{{ company_name }} is a collaboration of medical professionals and a local healthcare system committed to providing high quality, coordinated and innovative care for the patients and families we serve.</p>
			</div>
		</div>
		<div class="item">
			<!-- Heading -->
			<h2 class="entry-title"><a href="#">Our history</a></h2>
			<!-- Content -->
			<div class="entry-content">
				<p>{{ company_name }} was established in the summer of 2012 as a joint venture between Scottsdale Healthcare Hospitals (now HonorHealth) and Scottsdale Physician Organization.</p>
				<p>SHP launched with 430 physicians, one insurance contract, and about 3,500 patients.</p>
				<p>Today SHP has seven contracts with major insurance companies and now has over <strong>675</strong> physician members serving more than <strong></strong>30,000</strong> patients in the community.</p>
				<p>SHP represents a unique collaboration between independent community physicians and a community hospital system where all parties share a common mission and vision to improve healthcare in the local community.</p>
			</div>
		</div>
	</div>
{% endblock %}


{# PATIENT TESTIMONIALS #}
{% block pe_patient_testimonials %}
	<div class="owl-carousel pagination-1 dark-switch owl-theme animated fadeInRight visible" data-animation="fadeInRight" data-singleitem="true" data-navigation="false" data-autoplay="7000" data-pagination="true" data-effect="backSlide">
		<div class="item">
			<div class="desc-border bottom-arrow">
				<blockquote class="small-text text-center">
					I appreciate how you have helped me, and as a Wounded Vet you have done more for me than the VA has in 10 years...I and the Army thank you for caring for soldiers like myself, who have loss trust in most of the medical profession. (Not you guys- you bring hope).
				</blockquote>
				{#<div class="star-rating text-center">#}
				{#<i class="fa fa-star  text-color"></i>#}
				{#<i class="fa fa-star  text-color"></i>#}
				{#<i class="fa fa-star  text-color"></i>#}
				{#<i class="fa fa-star  text-color"></i>#}
				{#<i class="fa fa-star-half-o  text-color"></i>#}
				{#</div>#}
			</div>
			{#<div class="client-details text-center">#}
				{#<div class="client-image">#}
				{#<!-- Image -->#}
				{#<img class="img-circle" src="{{ asset('bundles/site/images/sections/grid/1.jpg') }}" width="80" height="80" alt="">#}
				{#</div>#}
				{#<div class="client-details">#}
					<!-- Name -->
					{#<strong class="text-color">John</strong>#}
					<!-- Company -->
					{#<span>Pediatric Surgeon, Honor Health</span>#}
				{#</div>#}
			{#</div>#}
		</div>
		<div class="item">
			<div class="desc-border bottom-arrow">
				<blockquote class="small-text text-center">
					I would like to thank you for your concern and information while my mom was in Scottsdale Healthcare Hospital. Your guidance to palliative care was the best choice. Your kindness and understanding meant a lot to me and my family. Thank you very much.
				</blockquote>
				{#<div class="star-rating text-center">#}
				{#<i class="fa fa-star  text-color"></i>#}
				{#<i class="fa fa-star  text-color"></i>#}
				{#<i class="fa fa-star  text-color"></i>#}
				{#<i class="fa fa-star  text-color"></i>#}
				{#<i class="fa fa-star-half-o  text-color"></i>#}
				{#</div>#}
			</div>
			{#<div class="client-details text-center">#}
				{#<div class="client-image">#}
				{#<!-- Image -->#}
				{#<img class="img-circle" src="{{ asset('bundles/site/images/sections/grid/2.jpg') }}" width="80" height="80" alt="">#}
				{#</div>#}
				{#<div class="client-details">#}
					<!-- Name -->
					{#<strong class="text-color">Anonymous</strong>#}
					<!-- Company -->
					{#<span>Pediatric Surgeon, Honor Health</span>#}
				{#</div>#}
			{#</div>#}
		</div>
		<div class="item">
			<div class="desc-border bottom-arrow">
				<blockquote class="small-text text-center">
					You have been very helpful in helping my mom agree to an assisted living.  She has agreed and I have found a place for her.  I was a little nervous about this experience but I wanted to call you and thank you so very, very, much for all of your help, your kindness, and your understanding.  Thank You  - Thank You
				</blockquote>
				{#<div class="star-rating text-center">#}
				{#<i class="fa fa-star  text-color"></i>#}
				{#<i class="fa fa-star  text-color"></i>#}
				{#<i class="fa fa-star  text-color"></i>#}
				{#<i class="fa fa-star  text-color"></i>#}
				{#<i class="fa fa-star-half-o  text-color"></i>#}
				{#</div>#}
			</div>
			{#<div class="client-details text-center">#}
				{#<div class="client-image">#}
				{#<!-- Image -->#}
				{#<img class="img-circle" src="{{ asset('bundles/site/images/sections/grid/3.jpg') }}" width="80" height="80" alt="">#}
				{#</div>#}
				{#<div class="client-details">#}
					<!-- Name -->
					{#<strong class="text-color">Anonymous</strong>#}
					<!-- Company -->
					{#<span>Pediatric Surgeon, Honor Health</span>#}
				{#</div>#}
			{#</div>#}
		</div>
	</div>
{% endblock %}


{# PHYSICIAN TESTIMONIALS #}
{% block pe_physician_testimonials %}
	<div class="owl-carousel pagination-1 dark-switch owl-theme animated fadeInRight visible" data-animation="fadeInRight" data-singleitem="true" data-navigation="false" data-autoplay="true" data-pagination="true" data-effect="backSlide">
		<div class="item">
			<div class="desc-border bottom-arrow">
				<blockquote class="small-text text-center">
					The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste.
				</blockquote>
				<div class="star-rating text-center">
					<i class="fa fa-star  text-color"></i>
					<i class="fa fa-star  text-color"></i>
					<i class="fa fa-star  text-color"></i>
					<i class="fa fa-star  text-color"></i>
					<i class="fa fa-star-half-o  text-color"></i>
				</div>
			</div>
			<div class="client-details text-center">
				<div class="client-image">
					<!-- Image -->
					<img class="img-circle" src="{{ asset('bundles/site/images/sections/grid/1.jpg') }}" width="80" height="80" alt="">
				</div>
				<div class="client-details">
					<!-- Name -->
					<strong class="text-color">Dr. John Doe</strong>
					<!-- Company -->
					<span>Pediatric Surgeon, Honor Health</span>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="desc-border bottom-arrow">
				<blockquote class="small-text text-center">
					The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste.
				</blockquote>
				<div class="star-rating text-center">
					<i class="fa fa-star  text-color"></i>
					<i class="fa fa-star  text-color"></i>
					<i class="fa fa-star  text-color"></i>
					<i class="fa fa-star  text-color"></i>
					<i class="fa fa-star-half-o  text-color"></i>
				</div>
			</div>
			<div class="client-details text-center">
				<div class="client-image">
					<!-- Image -->
					<img class="img-circle" src="{{ asset('bundles/site/images/sections/grid/2.jpg') }}" width="80" height="80" alt="">
				</div>
				<div class="client-details">
					<!-- Name -->
					<strong class="text-color">Dr. John Doe</strong>
					<!-- Company -->
					<span>Pediatric Surgeon, Honor Health</span>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="desc-border bottom-arrow">
				<blockquote class="small-text text-center">
					The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste.
				</blockquote>
				<div class="star-rating text-center">
					<i class="fa fa-star  text-color"></i>
					<i class="fa fa-star  text-color"></i>
					<i class="fa fa-star  text-color"></i>
					<i class="fa fa-star  text-color"></i>
					<i class="fa fa-star-half-o  text-color"></i>
				</div>
			</div>
			<div class="client-details text-center">
				<div class="client-image">
					<!-- Image -->
					<img class="img-circle" src="{{ asset('bundles/site/images/sections/grid/3.jpg') }}" width="80" height="80" alt="">
				</div>
				<div class="client-details">
					<!-- Name -->
					<strong class="text-color">Dr. John Doe</strong>
					<!-- Company -->
					<span>Pediatric Surgeon, Honor Health</span>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{# COUNTERS #}
{%  block pe_counters %}
	<section id="fun-factor" class="page-section">
		<div class="image-bg content-in fixed" data-background="{{ asset('bundles/site/images/sections/bg/counters-back.jpg') }}"></div>
		<div class="container">
			<div class="row text-center fact-counter white">
				<div class="col-sm-4 col-md-3 bottom-xs-pad-30">
					<!-- Icon -->
					<div class="count-number" data-count="5"><span class="counter"></span></div>
					<!-- Title -->
					<h5>Hospitals</h5>
				</div>
				<div class="col-sm-4 col-md-3 bottom-xs-pad-30">
					<!-- Icon -->
					<div class="count-number" data-count="675"><span class="counter plus"></span></div>
					<!-- Title -->
					<h5>Physicians</h5>
				</div>
				<div class="col-sm-4 col-md-3 bottom-xs-pad-30">
					<!-- Icon -->
					<div class="count-number" data-count="390"><span class="counter plus"></span></div>
					<!-- Title -->
					<h5>Locations</h5>
				</div>
				<div class="col-sm-4 col-md-3 bottom-xs-pad-30">
					<!-- Icon -->
					<div class="count-number" data-count="59"><span class="counter"></span></div>
					<!-- Title -->
					<h5>Specialties</h5>
				</div>
			</div>
		</div>
	</section>
	<!-- fun-factor -->
{% endblock %}


{# GOOGLE MAP #}
{% block pe_google_map %}
	<section id="map">
		<div class="map-section">
			<div class="map-canvas"
			     data-zoom="15"
			     data-zoomcontrol="false"
			     data-lat="{{ company_location_latitude }}"
			     data-lng="{{ company_location_longitude }}"
			     data-type="roadmap"
			     data-hue="#8eb4e3"
			     data-title="{{ company_name }}"
			     data-content="Contact: {{ company_phone }}<br>
						<a href='mailto:info@scottsdalehealthpartners.com'>info@scottsdalehealthpartners.com</a>"
			     style="height: 376px;">
			</div>
		</div>
	</section> <!-- map -->
{% endblock %}

{% block pe_contact_divider %}
	<div id="get-quote" class="bg-color get-a-quote black text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					Need Help? <a class="black" href="{{ path('contact') }}">Contact Us </a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block pe_our_locations_map %}
	<section id="our-locations" class="page-section">
		<div class="image-bg content-in fixed" data-background="{{ asset('bundles/site/images/sections/bg/locations-map.jpg') }}"></div>
		<div class="container">
			<div class="row text-center fact-counter white">
				<div class="col-sm-12 bottom-xs-pad-30">
					<div class="section-title invert-divider">
						<!-- Heading -->
						<h2 class="title">Hundreds of Physicians</h2>
					</div>
					{#<p><a href="{{ path('physician_directory') }}" class="btn btn-success">Locate A Physician Now</a></p>#}
					<p><a href="{{ path('our_physicians') }}" class="btn btn-success">Locate A Physician Now</a></p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
