{% set title = 'News' %}
{% set meta_keywords = null %}
{% set meta_description = null %}
{% set meta_author = null %}
{% extends "::base.html.twig" %}

{% block title %}SiteBundle:News:news{% endblock %}

{% block body %}
	<div class="page-header">
		<div class="container">
			<h1 class="title">{{ title }}</h1>
		</div>
	</div>
	<section class="page-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="timeliner blog">
					<li>
						<div class="timeline-meta">
							<div class="meta_details">by American Journal of Medical Care</div>
						</div>
						<div class="timeline-icon">
							<div class="date">April
								<span>11</span>
							</div>
						</div>
						<div class="timeline-panel">
							<div class="timeline-body">
								<div class="post-item">
									<h2 class="post-title">
										<a href="https://shar.es/1jr0dB">Dr. James Whitfill: Coordinating Care on a Virtual and Physical Level</a>
									</h2>
									<div clas"post-content">
										<p>Scottsdale Health Partners has improved coordinated care on both a physical and virtual level through the creation of a secure texting connection for real-time collaboration, James Whitfill, MD, chief medical officer of Scottsdale Health Partners, explained at the National Association of Accountable Care Organization's Spring 2016 Conference&hellip;</p>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="timeline-inverted">
						<div class="timeline-meta">
							<div class="meta_details">by Physicians Practice</div>
						</div>
						<div class="timeline-icon">
							<div class="date">Feb.
								<span>26</span>
							</div>
						</div>
						<div class="timeline-panel">
							<div class="timeline-body">
								<div class="post-item">
									<h2 class="post-title">
         								<a href="{{ path('_p_d_f_view', {'file': 'SHP-Model-of-Care.pdf'}) }}">A Model of Care Coordination in Scottsdale</a>
         							</h2>
         							<div class="post-content">
         								<p>Scottsdale Health Partners has used IT and care coordinators to get physicians and hospitals working hand-in-hand in a value based environment. Scottsdale Health Partners (SHP) is more than just a joint venture between the HonorHealth (formerly Scottsdale Healthcare) hospital system and approximately 700 physicians&hellip;</p>
         							</div>
         						</div>
         					</div>
         				</div>
         			</li>

					<li>
						<div class="timeline-meta">
							<div class="meta_details">by Healthcare IT News</div>
						</div>
						<div class="timeline-icon">
							<div class="date">Feb.
								<span>19</span>
							</div>
						</div>
						<div class="timeline-panel">
							<div class="timeline-body">
								<div class="post-item">
									<h2 class="post-title">
										<a href="http://www.healthcareitnews.com/news/orion-health-unwrap-precision-medicine-medicare-aco-management-apps-himss16" target="_blank">Orion Health to unwrap precision medicine, Medicare ACO management apps at HIMSS16</a>
									</h2>
									<div class="post-content">
										<p>Orion Health at HIMSS16 will unveil a data platform aimed at enabling precision maedicine anda  new management app geared towards participants in the Medicare Shared Savings Accountable Care Organization Program. The new iteration of Amadeus, for instance, is meant to help providers to move from the "who" of population health&hellip;</p>
									</div>
								</div>
							</div>
						</div>
					</li>

						<li class="timeline-inverted">
							<div class="timeline-meta">
								<div class="meta_details">by Business Wire</div>
							</div>
							<div class="timeline-icon">
								<div class="date">Feb.
									<span>11</span></div>
							</div>
							<div class="timeline-panel">
								<div class="timeline-body">
									<div class="post-item">
										<h2 class="post-title">
											<a href="http://www.businesswire.com/news/home/20160210005283/en/Orion-Health-Showcase-Client-Successes-HIMSS16">Orion Health to Showcase Client Successes at HIMSS16</a>
										</h2>
										<div class="post-content"><p>Orion Health, a population health management and healthcare integration company, today announced it will showcase client success stories at the Healthcare Information and Management Systems Society 2016 Annual Conference &amp; Exhibition via mainstage presentations and in-booth demonstrations. Additionally, at HIMSS&hellip;</p>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-meta">
								<div class="meta_details">by Healthcare Informatics</div>
							</div>
							<div class="timeline-icon">
								<div class="date">Feb.
									<span>10</span>
								</div>
							</div>
							<div class="timeline-panel">
								<div class="timeline-body">
									<div class="post-item">
										<h2 class="post-title">
											<a href="http://www.healthcare-informatics.com/article/2016-healthcare-informatics-innovator-awards-second-place-winner-scottsdale-health-partners" target="_blank">The 2016 Healthcare Informatics Innovator Awards: Second Place Winner - Scottsdale Health Partners</a>
										</h2>
										<div class="post-content">
											<p>Scottsdale Health Partners (SHP), a physician-led clinical integration network, was formed in 2012 and has quickly grown to 700 physicians serving 35,000 patients throughout the greater Scottsdale, Arizona community. SHP consists of 115 primary care physicians and the balance are specialists from a wide variety of specialties&hellip;</p>
										</div>
									</div>
								</div>
							</div>
						</li>

						<li class="timeline-inverted">
							<div class="timeline-meta">
								<div class="meta_details">by Faron Thompson / Scottsdale Health Partners</div>
							</div>
							<div class="timeline-icon">
								<div class="date">Dec.
									<span>23</span></div>
							</div>
							<div class="timeline-panel">
								<div class="timeline-body">
									<div class="post-item">
										<h2 class="post-title">
											<a href="{{ path('_p_d_f_view', {'file': 'aco-spotlight.pdf'}) }}">Shared Savings Program ACO Spotlight Newsletter</a>
										</h2>
										<div class="post-content"><p>In order to participate in quality reporting for performance year 2015, you must have Enterprise Identity Management (EIDM) accounts and roles for access to the Group Practice Reporting Option Web Interface (GPRO WI). CMS has transitioned from IACS to EIDM, therefore Individuals Authorized Access to the CMS Computer Services (IACS) accounts cannot be created or used.</p>
										<p>The audio recording for the December 22, 2015 GPRO WI Q &amp; A Session which covered&hellip;</p></div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-meta">
								<div class="meta_details">by Orion Health</div>
							</div>
							<div class="timeline-icon">
								<div class="date">Nov.
									<span>05</span></div>
							</div>
							<div class="timeline-panel">
								<div class="timeline-body">
									<div class="post-item">
										<h2 class="post-title">
											<a href="https://pages.questexweb.com/OrionHealth-Registration-20151105.html" target="_blank">Journey to MSSP Management with Tailored ACO Web-Based Solution</a>
										</h2>
										<div class="post-content"><p>Medicare Shared Savings Program (MSSP) ACOs need a purpose-built MSSP Management solution to streamline the complexities of participating in the MSSP. Being an MSSP ACO comes with considerable administrative and compliance requirements that can be time and resource intensive without applying purpose-built technologies&hellip;</p></div>
									</div>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-meta">
								<div class="meta_details">by Faron Thompson / Scottsdale Health Partners</div>
							</div>
							<div class="timeline-icon">
								<div class="date">Oct.
									<span>15</span></div>
							</div>
							<div class="timeline-panel">
								<div class="timeline-body">
									<div class="post-item">
										<h2 class="post-title">
											<a href="{{ path('_p_d_f_view', {'file': 'Going-At-Risk---A-Vision-for-Connected-Care.pdf'}) }}">Going At Risk - A Vision for Connected Care</a>
										</h2>
										<div class="post-content"><p>The nation’s healthcare system has reached a critical moment in its evolution. Healthcare organiza- tions across the United States are investing significant resources in re-architecting care delivery infrastructures to adapt successfully to new value-based models.</p>
										<p>As we go “at risk” and accept outcome-based payments, we face a broad set of challenges—one of the most critical being development of the right IT infrastructure&hellip;</p></div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-meta">
								<div class="meta_details">by Ken Alltucker / The Republic</div>
							</div>
							<div class="timeline-icon">
								<div class="date">Sept.
									<span>25</span></div>
							</div>
							<div class="timeline-panel">
								<div class="timeline-body">
									<div class="post-item">
										<h2 class="post-title">
											<a href="http://www.azcentral.com/story/money/business/consumers/2015/09/25/medicare-accountable-care-reforms-bring-mixed-results/72625180/" target="_blank">Medicare "Accountable Care" Reforms Bring Mixed Results</a>
										</h2>
										<div class="post-content"><p>A Medicare experiment that encourages doctors and hospitals to work in tandem to improve care while saving taxpayers money has produced mixed results in Arizona.</p>
										<p>Six out of 10 Arizona health systems participating in Medicare’s “accountable care” programs spent more money than Medicare projected last year, and one program broke even. Another three health systems saved Medicare money compared to what the agency projected spending&hellip;</p></div>
									</div>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-meta">
								<div class="meta_details">by Dr. Jim Whitfill / MD</div>
							</div>
							<div class="timeline-icon">
								<div class="date">August
									<span>26</span></div>
							</div>
							<div class="timeline-panel">
								<div class="timeline-body">
									<div class="post-item">
										<h2 class="post-title">
											{#<a href="{{ path('_p_d_f_view', {'file': 'News-2015-Shared-Savings-Program-ACOTemplate-Press-Release-for-PY14-Results.pdf'}) }}">Medicare ACOs Continue to Improve Quality of Care, Generate Shared Savings</a>#}
											<a href="http://www.healthitoutcomes.com/doc/medicare-acos-continue-to-improve-quality-generate-shared-savings-0001" target="_blank">Medicare ACOs Continue to Improve Quality of Care, Generate Shared Savings</a>
										</h2>
										<div class="post-content">The Centers for Medicare & Medicaid Services recently issued 2014 quality and financial performance results showing that more Medicare Accountable Care Organizations (ACOs) continue to generate financial savings while improving the quality of care for Medicare beneficiaries by fostering greater collaboration between doctors, hospitals, and health care providers&hellip;</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-meta">
								<div class="meta_details">by The Hertel Report</div>
							</div>
							<div class="timeline-icon">
								<div class="date">August
									<span>26</span></div>
							</div>
							<div class="timeline-panel">
								<div class="timeline-body">
									<div class="post-item">
										<h2 class="post-title">
											<a href="https://www.thehertelreport.com/cms-releases-mssp-aco-performance-report-for-2014/" target="_blank">CMS Releases MSSP ACO Performance Report for 2014</a>
										</h2>
										<div class="post-content"><p>In Arizona, only two active MSSP ACOs beat their targets and only one earns a share of the savings</p>
											<p>Nationally, 92 of 333 MSSPs hold spending to $806 million below targets and earn $341 million in shared savings. There were 89 ACOs that reduced healthcare costs below their benchmark, but did not save enough to qualify for shared savings.  Overall savings generated for CMS from the MSSP program was $465 million in 2014&hellip;</p></div>
									</div>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-meta">
								<div class="meta_details">by HiMSS</div>
							</div>
							<div class="timeline-icon">
								<div class="date">Jun
									<span>30</span></div>
							</div>
							<div class="timeline-panel">
								<div class="timeline-body">
									<div class="post-item">
										<h2 class="post-title">
											<a target="_blank" href="http://www.himss.org/Events/EventDetail.aspx?ItemNumber=42376">How Secure Texting Supports Readmission Reduction</a>
										</h2>
										<div class="post-content">Sending important patient information via emails or pages can cause a lag time on responses, a longer stay for patients and added costs for the facility. But by utilizing a text messaging technology that physicians and staff already use, you can streamline the entire process from when a patient is admitted to your facility until discharge&hellip;</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-meta">
								<div class="meta_details">by Marty Stempniak / Staff Writer</div>
							</div>
							<div class="timeline-icon">
								<div class="date">April
									<span>16</span></div>
							</div>
							<div class="timeline-panel">
								<div class="timeline-body">
									<div class="post-item">
										<h2 class="post-title">
											<a target="_blank" href="http://www.hhnmag.com/Daily/2015/April/HIMMS-new-health-care-impediment-blog-stempniak">The One Thing That's Impeding Your Hospital from Moving to the New Health Care Paradigm</a>
										</h2>
										<div class="post-content">
											<p>During a panel at HIMSS this week, payer, pharmacist, physician and hospital folks all came together to chew over what's blocking their organizations from transitioning into value-based care.</p>
											<p>CHICAGO — Everyone is maneuvering into a position of strength in the new world of health care — be it payers, pharmacists, hospitals or doctors — while still paying the bills in the old one. What's the biggest obstacle standing in each organization's path, and is it the same from field to field?&hellip;</p>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-meta">
								<div class="meta_details">by tiger text</div>
							</div>
							<div class="timeline-icon">
								<div class="date">March
									<span>25</span></div>
							</div>
							<div class="timeline-panel">
								<div class="timeline-body">
									<div class="post-item">
										<h2 class="post-title">
											<a href="{{ path('_p_d_f_view', {'file': 'Scottsdale-Health-Partners-Case-Study.pdf'}) }}">Leading ACO, {{ company_name }}, Reduces Care Coordination Costs by 10% with TigerText</a>
										</h2>
										<div class="post-content">
											<p>{{ company_name }} (SHP) is a physician-led Clinical Integration Network and Accountable Care Organization (ACO) aiming to transform care delivery in the Arizona community. It is a joint venture formed by Scottsdale Lincoln Health Network (SLHN) and the Scottsdale Physician Organization, which is comprised of over 600 community physicians. SHP's network oers a world-class healthcare network of hospitals, physicians and clinicians that provides patients with a comprehensive, cohesive and integrated experience from their doctor’s oce to the hospital to ongoing care settings&hellip;</p>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-icon">
								<div class="date year"><span>'15</span></div>
							</div>
						</li>
						<li>
							<div class="timeline-meta">
								<div class="meta_details">by Angela Gonzales / Senior Reporter</div>
							</div>
							<div class="timeline-icon">
								<div class="date">Jun
									<span>13</span></div>
							</div>
							<div class="timeline-panel">
								<div class="timeline-body">
									<div class="post-item">
										<h2 class="post-title">
											<a target="_blank" href="http://www.bizjournals.com/phoenix/blog/health-care-daily/2013/06/scottsdale-health-partners-cigna-team.html">{{ company_name }}, Cigna team on accountable care initiative</a>
										</h2>
										<div class="post-content">
											<p>{{ company_name }} and Cigna Corp. are teaming up to launch a collaborative accountable care initiative.</p>
											<p>Collaborative accountable care is Cigna’s approach to accomplishing the same goals as accountable care organizations, without creating a formal ACO. The initiative is designed to improve patient access to health care, enhance care coordination and reduce costs&hellip;</p>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-icon">
								<div class="date year"><span>'13</span></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
