{% extends 'base.html.twig' %}

{% block body %}
	<section class="slider">
		<div class="tp-banner">
			<ul>
				<!-- Slide -->
				<li data-delay="7000" class="bg-white" data-transition="fade" data-slotamount="7" data-start-height="300" data-masterspeed="2000">
					<div class="elements">
						<div class="tp-caption tp-resizeme lfb"
						     data-x="650"
						     data-y="85"
						     data-speed="1000"
						     data-start="2040"
						     data-easing="Power4.easeOut"
						     data-endspeed="500"
						     data-endeasing="Power1.easeIn"
						     style="z-index: 4">
							<img src="img/sections/slider/doctor.jpg" width="500" height="560" alt="">
						</div>
						<h2 class="tp-caption lft skewtotop title bold"
						    data-x="12"
						    data-y="281"
						    data-speed="1000"
						    data-start="1700"
						    data-easing="Power4.easeOut"
						    data-endspeed="500"
						    data-endeasing="Power1.easeIn">
							<strong><span class="text-color">Meet</span> Our <br>Doctor’s Team</strong>
						</h2>
					</div>
				</li>
				<!-- Slide Ends -->
				<!-- Slide -->
				<li data-delay="7000" data-transition="fade" data-slotamount="7" data-start-height="300" data-masterspeed="2000">
					<div class="elements">
						<h2 class="tp-caption lft skewtotop title bold"
						    data-x="12"
						    data-y="201"
						    data-speed="1000"
						    data-start="1700"
						    data-easing="Power4.easeOut"
						    data-endspeed="500"
						    data-endeasing="Power1.easeIn">
							<strong>We Care About <span class="text-color">Every Customers</span></strong>
						</h2>
						<div class="tp-caption lfr skewtoright description text-left hidden-xs"
						     data-x="20"
						     data-y="300"
						     data-speed="1000"
						     data-start="1900"
						     data-easing="Power4.easeOut"
						     data-endspeed="500"
						     data-endeasing="Power1.easeIn"
						     style="max-width: 600px">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do usmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam  dolore magna aliqua ut enim ad minim veniam. </p>
						</div>
					</div>
					<img src="img/sections/slider/slider23-bg.jpg" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
				</li>
				<!-- Slide Ends -->
			</ul>
		</div>
		<hr class="no-margin">
	</section>
	<!-- slider -->
	<section id="about-us" class="page-section" data-animation="fadeInUp">
		<div class="container">
			<div class="section-title">
				<h1 class="title">Who Is {{ company_name }}?</h1>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<!-- Text -->
					<p class="title-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae odit iste exercitationem praesentium deleniti nostrum laborum rem id nihil tempora. Adipisci ea commodi unde nam placeat cupiditate quasi a ducimus rem consequuntur ex eligendi minima voluptatem assumenda voluptas quidem sit maiores odio velit voluptate.</p>
				</div>
			</div>
			<div class="row special-feature">
				<!-- Special Feature Box 1 -->
				<div class="col-md-3">
					<div class="s-feature-box text-center">
						<div class="mask-top">
							<!-- Icon -->
							<i class="fa fa-user-md"></i>
							<!-- Title -->
							<h4>Physician Directory</h4></div>
						<div class="mask-bottom">
							<!-- Icon -->
							<i class="fa fa-user-md"></i>
							<!-- Title -->
							<h4>Physician Directory</h4>
							<!-- Text -->
							<p>Search more than 600 local physicians in the SHP network</p></div>
					</div>
				</div>
				<!-- Special Feature Box 2 -->
				<div class="col-md-3">
					<div class="s-feature-box text-center">
						<div class="mask-top">
							<!-- Icon -->
							<i class="fa fa-hospital-o"></i>
							<!-- Title -->
							<h4>Hospitals</h4></div>
						<div class="mask-bottom">
							<!-- Icon -->
							<i class="fa fa-hospital-o"></i>
							<!-- Title -->
							<h4>Hospitals</h4>
							<!-- Text -->
							<p>Scottsdale Health Partners is aligned with 5 hospitals in the Phoenix area</p>
						</div>
					</div>
				</div>
				<!-- Special Feature Box 3 -->
				<div class="col-md-3">
					<div class="s-feature-box text-center">
						<div class="mask-top">
							<!-- Icon -->
							<i class="fa fa-heartbeat"></i>
							<!-- Title -->
							<h4>Insurance Plans</h4></div>
						<div class="mask-bottom">
							<!-- Icon -->
							<i class="fa fa-heartbeat"></i>
							<!-- Title -->
							<h4>Insurance Plans</h4>
							<!-- Text -->
							<ul>
								<li>Blue Cross Blue Shield</li>
								<li>Cigna Open Access Plus</li>
								<li>Humana Gold Plus</li>
								<li>Meritus HMO</li>
								<li>Medicare ACO</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Special Feature Box 3 -->
				<div class="col-md-3">
					<div class="s-feature-box text-center">
						<div class="mask-top">
							<!-- Icon -->
							<i class="fa fa-users"></i>
							<!-- Title -->
							<h4>Members</h4></div>
						<div class="mask-bottom">
							<!-- Icon -->
							<i class="fa fa-users"></i>
							<!-- Title -->
							<h4>Members</h4>
							<!-- Text -->
							<p>Would you like to know more about joining the SHP network?</p>
							<p><a href="#">Log in</a> or <a href="#">request access</a> to the SHP Physician Member website.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- about-us -->
	<section id="who-we-are" class="page-section no-pad light-bg border-tb">
		<div class="container-fluid who-we-are">
			<div class="row">
				<div class="col-md-6 pad-60">
					<div class="section-title text-left">
						<!-- Title -->
						<h2 class="title">Who We Are</h2>
					</div>
					<div class="owl-carousel pagination-1 dark-switch owl-theme animated fadeInRight visible" data-animation="fadeInRight" data-singleitem="true" data-navigation="false" data-autoplay="false" data-pagination="true">
						<div class="item">
							<!-- Heading -->
							<h2 class="entry-title"><a href="#">Our philosophy</a></h2>
							<!-- Content -->
							<div class="entry-content">
								<p>SHP is committed to reducing healthcare cost and delivering outstanding patient care.</p>
								<ul class="list-style small">
									<label>We strongly believe these results are achieved through:</label>
									<li>Strong relationships between primary care providers and patients</li>
									<li>Developing and following evidence-based care guidelines</li>
									<li>Providing care coordination services for patients to ensure that patients get the right care at the right time</li>
									<li>Collaborating, coordinating and communicating within an integrated community of care providers</li>
									<li>Obtaining, analyzing, and leveraging clinical and quality data for better health outcomes</li>
								</ul>
								<p><a href="#" class="btn btn-default">Read more</a></p>
							</div>
						</div>
						<div class="item">
							<!-- Heading -->
							<h2 class="entry-title"><a href="#">Our mission</a></h2>
							<!-- Content -->
							<div class="entry-content">
								<p>Scottsdale Health Partners is a collaboration of medical professionals and a local healthcare system committed to providing high quality, coordinated and innovative care for the patients and families we serve.</p>
								<p><a href="#" class="btn btn-default">Read more</a></p>
							</div>
						</div>
						<div class="item">
							<!-- Heading -->
							<h2 class="entry-title"><a href="#">Our history</a></h2>
							<!-- Content -->
							<div class="entry-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi facere earum quis ipsa vitae qui minima esse ducimus dolorum iste nisi
									laborum repellat dolores dolore debitis adipisci nemo quia autem pariatur a voluptatem dignissimos maiores accusantium nobis tempora consequatur cumque quas ea doloribus deleniti.
								</p>
								<p>Quibusdam commodi laboriosam error temporibus iste ipsa soluta distinctio maiores ad totam beatae incidunt veritatis enim? Reiciendis
									voluptate assumenda quidem eos explicabo rerum.
								</p>
								<p><a href="#" class="btn btn-default">Read more</a></p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 no-pad text-center">
					<!-- Image -->
					<div class="image-bg" data-background="{{ asset('bundles/site/images/sections/bg/who-we-are.jpg') }}"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- who-we-are -->
	<section id="additional" class="page-section">
		<div class="container">
			<div class="row">
				<div class="col-md-4 text-center bottom-xs-pad-30">
					<!-- Image -->
					<img src="{{ asset('bundles/site/images/doctors.jpg') }}" width="280" height="440" alt="">
				</div>
				<div class="col-md-8">
					<div class="section-title text-left">
						<!-- Title -->
						<h2 class="title">Why Choose Us.</h2>
					</div>
					<!-- Content -->
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis. Nunc consectetur odio sed
						dolor tincidunt porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis. Nunc consectetur odio sed
						dolor tincidunt porttitor consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis. porttitor consecteturadipiscing elit. Vestibulum nec odio
						ipsum. Suspendisse cursus malesuada facilisis.
					</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis. Nunc consectetur odio sed
						dolor tincidunt porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					</p>
					<!-- Features -->
					<div class="row responsive-features top-pad-20">
						<!-- Features 1 -->
						<div class="col-md-4">
							<!-- Title And Content -->
							<span class="icon-anchor text-color"></span>
							<h5>Care Management</h5>
							<p>Lorem ipsum dolor sit amet elit. consectetur Vest</p>
						</div>
						<!-- Features 1 -->
						<!-- Features 2 -->
						<div class="col-md-4">
							<!-- Title And Content -->
							<span class="icon-heart-fill text-color"></span>
							<h5>Great Outcomes</h5>
							<p>Lorem ipsum dolor sit amet elit. consectetur Vest</p>
						</div>
						<!-- Features 2 -->
						<!-- Features 3 -->
						<div class="col-md-4">
							<!-- Title And Content -->
							<span class="icon-user-md text-color"></span>
							<h5>Excellent Patient Care</h5>
							<p>Lorem ipsum dolor sit amet elit. consectetur Vest</p>
						</div>
						<!-- Features 3 -->
					</div>
					<!-- Features -->
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</section>
	<!-- additional -->
	{{ block('pe_testimonials') }}
	<section id="fun-factor" class="page-section">
		<div class="image-bg content-in fixed" data-background="{{ asset('bundles/site/images/sections/bg/counters-back.jpg') }}"></div>
		<div class="container">
			<div class="row text-center fact-counter white">
				<div class="col-sm-4 col-md-3 bottom-xs-pad-30">
					<!-- Icon -->
					<div class="count-number" data-count="5"><span class="counter"></span></div>
					<!-- Title -->
					<h5>Hospitals</h5>
				</div>
				<div class="col-sm-4 col-md-3 bottom-xs-pad-30">
					<!-- Icon -->
					<div class="count-number" data-count="398"><span class="counter"></span></div>
					<!-- Title -->
					<h5>Practices</h5>
				</div>
				<div class="col-sm-4 col-md-3 bottom-xs-pad-30">
					<!-- Icon -->
					<div class="count-number" data-count="925"><span class="counter"></span></div>
					<!-- Title -->
					<h5>Physicians</h5>
				</div>
				<div class="col-sm-4 col-md-3 bottom-xs-pad-30">
					<!-- Icon -->
					<div class="count-number" data-count="1910"><span class="counter"></span></div>
					<!-- Title -->
					<h5>Specialties</h5>
				</div>
			</div>
		</div>
	</section>
	<!-- fun-factor -->
	<section id="features" class="page-section">
		<div class="container">
			<div class="section-title">
				<!-- Heading -->
				<h2 class="title">Awesome Features</h2>
			</div>
			<div class="row">
				<div class="item-box col-sm-6 col-md-4">
					<a href="#">
						<!-- Title -->
						<h5 class="title"><i class="fa fa-check fa-2x"></i> Pediatric Clinic</h5>
						<!-- Text -->
						<div>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste.</div>
					</a>
				</div>
				<div class="item-box col-sm-6 col-md-4">
					<a href="#">
						<!-- Title -->
						<h5 class="title"><i class="fa fa-check fa-2x"></i> Adolescent Gynecology</h5>
						<!-- Text -->
						<div>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste.</div>
					</a>
				</div>
				<div class="item-box col-sm-6 col-md-4">
					<a href="#">
						<!-- Title -->
						<h5 class="title"><i class="fa fa-check fa-2x"></i> Breast Center</h5>
						<!-- Text -->
						<div>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste.</div>
					</a>
				</div>
				<div class="item-box col-sm-6 col-md-4">
					<a href="#">
						<!-- Title -->
						<h5 class="title"><i class="fa fa-check fa-2x"></i> Children (Pediatrics)</h5>
						<!-- Text -->
						<div>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste.</div>
					</a>
				</div>
				<div class="item-box col-sm-6 col-md-4">
					<a href="#">
						<!-- Title -->
						<h5 class="title"><i class="fa fa-check fa-2x"></i> Eye (Ophtalmology)</h5>
						<!-- Text -->
						<div>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste.</div>
					</a>
				</div>
				<div class="item-box col-sm-6 col-md-4">
					<a href="#">
						<!-- Title -->
						<h5 class="title"><i class="fa fa-check fa-2x"></i> General Surgery</h5>
						<!-- Text -->
						<div>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste.</div>
					</a>
				</div>
				<div class="item-box col-sm-6 col-md-4">
					<a href="#">
						<!-- Title -->
						<h5 class="title"><i class="fa fa-check fa-2x"></i> Physiotherapy</h5>
						<!-- Text -->
						<div>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste.</div>
					</a>
				</div>
				<div class="item-box col-sm-6 col-md-4">
					<a href="#">
						<!-- Title -->
						<h5 class="title"><i class="fa fa-check fa-2x"></i> Pregnancy Care</h5>
						<!-- Text -->
						<div>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste.</div>
					</a>
				</div>
				<div class="item-box col-sm-6 col-md-4">
					<a href="#">
						<!-- Title -->
						<h5 class="title"><i class="fa fa-check fa-2x"></i> Diabetes</h5>
						<!-- Text -->
						<div>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste.</div>
					</a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</section>
	<!-- Features -->
	<section id="our-locations" class="page-section">
		<div class="image-bg content-in fixed" data-background="{{ asset('bundles/site/images/sections/bg/locations-map.jpg') }}"></div>
		<div class="container">
			<div class="row text-center fact-counter white">
				<div class="col-sm-12 bottom-xs-pad-30">
					<div class="section-title invert-divider">
						<!-- Heading -->
						<h2 class="title">Hundreds of Physicians</h2>
					</div>
					<p><a href="#" class="btn btn-success">Locate A Physician Now</a></p>
				</div>
			</div>
		</div>
	</section>
	<!-- clients -->
	{{ block('pe_contact_divider') }}

{% endblock %}