{% extends 'base.html.twig' %}

{% block body %}
	{{ block('pe_home_slider') }}
	<section id="about-us" class="page-section" data-animation="fadeInUp">
		<div class="container">
			<div class="section-title">
				<h1 class="title">Who Is {{ company_name }}?</h1>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<!-- Text -->
					<p class="title-description">{{ company_name }} is a physician-led Clinical Integration Network and Accountable Care Organization. We are dedicated to improving patient health and reducing healthcare spend through collaboration, coordination, and communication in the community.</p>
				</div>
			</div>
			{{ block('pe_special_features') }}
		</div>
	</section>
	<!-- about-us -->
	<section id="who-we-are" class="page-section no-pad light-bg border-tb">
		<div class="container-fluid who-we-are">
			<div class="row">
				<div class="col-md-6 pad-60">
					<div class="section-title text-left">
						<!-- Title -->
						<h2 class="title">Who We Are</h2>
					</div>
					{{ block('pe_who_we_are') }}
				</div>
				<div class="col-md-6 no-pad text-center">
					<!-- Image -->
					<div class="image-bg" data-background="{{ asset('bundles/site/images/sections/bg/who-we-are.jpg') }}"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- who-we-are -->
	<section id="additional" class="page-section">
		<div class="container">
			{#<div class="section-title">#}
				{#<!-- Heading -->#}
				{#<h2 class="title">Why Choose Us</h2>#}
			{#</div>#}
			<div class="row">
				<div class="col-md-4 text-center bottom-xs-pad-30">
					<!-- Image -->
					{#<img src="{{ asset('bundles/site/images/doctors.jpg') }}" width="280" height="440" alt="">#}
					{{ block('pe_patient_testimonials') }}
				</div>
				<div class="col-md-8">
					{# MOVING THIS TO SPAN BOTH COLUMNS FOR A MORE EVEN FEEL #}
					<div class="section-title text-left">
						<!-- Title -->
						<h2 class="title">Why Choose Us.</h2>
					</div>
					<!-- Content -->
					<p>{{ company_name }} provides value-based patient care through nearly 300 practice locations and 5 local hospitals.</p>
					<p>SHP physician practices accept multiple insurance plans offering convenience for patients including Commercial Insurance Plans, Medicare Advantage, and traditional Medicare insurance plans.</p>
					<p>Patients who choose SHP providers have access to personalized care coordination, transitional care management, and optimized specialist referrals.</p>
					<p>As a clinical integration network and an ACO, we strive to provide improved clinical quality, greater efficiency, improved collaboration, better access to care and long-term cost-control.</p>
					<p>SHP physician members share in our vision to transform healthcare delivery through coordinated, patient-centered care of the highest quality and value.</p>
					<!-- Features -->
					<div class="row responsive-features top-pad-20">
						<!-- Features 1 -->
						<div class="col-md-4">
							<!-- Title And Content -->
							<span class="icon-anchor text-color"></span>
							<h5>Care Management</h5>
							<p>Industry leading Complex Care Coordination and Transitional Care Management programs</p>
						</div>
						<!-- Features 1 -->
						<!-- Features 2 -->
						<div class="col-md-4">
							<!-- Title And Content -->
							<span class="icon-heart-fill text-color"></span>
							<h5>Positive Outcomes</h5>
							<p>Proven track record of patient satisfaction, reduced readmissions, improved quality, and lowered cost</p>
						</div>
						<!-- Features 2 -->
						<!-- Features 3 -->
						<div class="col-md-4">
							<!-- Title And Content -->
							<span class="icon-user-md text-color"></span>
							<h5>Excellent Patient Care</h5>
							<p>Caring physicians who take time to communicate and collaborate about patient care</p>
						</div>
						<!-- Features 3 -->
					</div>
					<!-- Features -->
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</section>
	<!-- additional -->
	{#<section id="testimonials" class="page-section light-bg">#}
		{#<div class="container">#}
			{#<div class="row">#}
				{#<div class="col-sm-12 testimonails">#}
					{#{{ block('pe_testimonials') }}#}
				{#</div>#}
			{#</div>#}
		{#</div>#}
	{#</section>#}
	{{ block('pe_counters') }}
	<section id="features" class="page-section">
		<div class="container">
			<div class="section-title">
				<!-- Heading -->
				<h2 class="title">Our Results</h2>
			</div>
			<div class="row">
				<div class="item-box col-sm-6 col-md-4">
					<a href="#">
						<!-- Title -->
						<h5 class="title"><i class="fa fa-check fa-2x"></i> Consistently</h5>
						<!-- Text -->
						<div>Improved Quality Scores</div>
					</a>
				</div>
				<div class="item-box col-sm-6 col-md-4">
					<a href="#">
						<!-- Title -->
						<h5 class="title"><i class="fa fa-check fa-2x"></i> High</h5>
						<!-- Text -->
						<div>Patient Satisfaction Scores</div>
					</a>
				</div>
				<div class="item-box col-sm-6 col-md-4">
					<a href="#">
						<!-- Title -->
						<h5 class="title"><i class="fa fa-check fa-2x"></i> 2% - 10%</h5>
						<!-- Text -->
						<div>Annual Cost Improvement</div>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Features -->

{% endblock %}