{% set title = 'ACO Reporting' %}
{% extends "::base.html.twig" %}

{% block title %}SiteBundle:ACO:ACOReporting{% endblock %}

{% block body %}
	<div class="page-header">
		<div class="container">
			<h1 class="title">{{ title }}</h1>
		</div>
	</div>
	<section class="page-section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 work-section">
					<div class="panel-group list-style" id="accordion">
						<div class="panel panel-default mix all">
							<div class="panel-heading">
								<div class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#name-location">ACO Name and Location</a>
								</div>
							</div>
							<div id="name-location" class="panel-collapse collapse">
								<div class="panel-body">
									<p>
										{{ company_name }}<br/>
										8901 E. Mountain View Rd., Suite 130<br/>
										Scottsdale, AZ  85258
									</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default mix panel-bg graphic-design all">
							<div class="panel-heading">
								<div class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#primary-contact">Primary Contact</a>
								</div>
							</div>
							<div id="primary-contact" class="panel-collapse collapse">
								<div class="panel-body">
									<p>
										Dr. Jim Whitfill<br/>
										Chief Medical Officer<br/>
										<a href="mailto:info@shpcare.com">info@shpcare.com</a><br/>
										(480) 630-1047
									</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default mix panel-bg web-design all">
							<div class="panel-heading">
								<div class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#composition">Composition of {{ company_name }} (SHP)</a>
								</div>
							</div>
							<div id="composition" class="panel-collapse collapse">
								<div class="panel-body">
									<p>SHP is a limited liability company that is a joint venture between Scottsdale Healthcare Hospitals and Scottsdale Physicians Organization.</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default mix panel-bg ecommerce all">
							<div class="panel-heading">
								<div class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#participants">{{ company_name }} Participants</a>
								</div>
							</div>
							<div id="participants" class="panel-collapse collapse">
								<div class="panel-body">
									<ul class="list-style column-list-3">
										<li>4C Medical Group PLC</li>
										<li>Affiliated Allergy & Pulmonary Specialist, P.C.</li>
										<li>Allergy Ear Nose and Throat Center Ltd</li>
										<li>American Advanced Surgery, PLLC</li>
										<li>Andrew Goldstein, P.C.</li>
										<li>Arizona Arrhythmia Consultants Plc</li>
										<li>Arizona Cardiovascular and Thoracic Surgeons, P.L.L.C</li>
										<li>Arizona Oncology Associates, PC</li>
										<li>Armity Simon MD PC</li>
										<li>Arrow Surgical Associates, P.C.</li>
										<li>Associated Family Physicians, P.C.</li>
										<li>Associated Retina Consultants LTD</li>
										<li>Bcg Oncology</li>
										<li>Bertz Professional Corporation</li>
										<li>BJV Medical Associates, PLLC</li>
										<li>Brenda LaTowsky, M.D., P.L.C.</li>
										<li>Bruce Freedman MD PC</li>
										<li>Bryan D. Friedman, D.O., LLC</li>
										<li>Care MD, PLC</li>
										<li>Christine Harter, MD PC</li>
										<li>Colon Digestive Health</li>
										<li>Colon Rectal Clinic of Scottsdale</li>
										<li>Comprehensive Breast Center of Arizona Plc</li>
										<li>Courtney A. Hunt, M.D., P.C.</li>
										<li>David G. Carfagno</li>
										<li>DC RANCH FAMILY MEDICINE,</li>
										<li>Dean R. Silver MD PLLC</li>
										<li>Dermatique, Ltd</li>
										<li>Derosa Medical PC</li>
										<li>Desert Center for Allergy and Chest Diseases</li>
										<li>Diabevita Medical Center, Inc.</li>
										<li>Digestive Health Specialists Arizona PC</li>
										<li>East Valley Endocrinology Diabetes and Metabolism</li>
										<li>Elena Sibley M.D. P.C</li>
										<li>F. Timm McCarty, D.O., LTD</li>
										<li>Family Care Providers of Arizona, PLLC</li>
										<li>Foot & Ankle Center of Arizona, P.C.</li>
										<li>Fountain Hills Pediatrics and Internal Medicine Plc</li>
										<li>Four Peaks Neurology, P.C.</li>
										<li>Gary A Adler</li>
										<li>Gawley Plastic Surgery</li>
										<li>Geoffrey H Cook M.D.</li>
										<li>Gordon Grado, MD, Inc.</li>
										<li>Gregory M. Crever MD PC</li>
										<li>Jdoc</li>
										<li>Karen S. Stark, MD, PLLC</li>
										<li>Mallin and Seidel Orthopaedic Oncology</li>
										<li>Marcia Sistek</li>
										<li>Mark J Lewis Plc</li>
										<li>Michael J. Brennan, M.D., P.C.</li>
										<li>Michael S. Maher, MD, PC</li>
										<li>Millennium Vision, P.C.</li>
										<li>Nassim Haddad MD, PLLC</li>
										<li>Neighborhood Outreach Access to Health</li>
										<li>NKL Neurology PLC</li>
										<li>North Scottsdale Family Medicine Associates Plc</li>
										<li>North Scottsdale Women’s Health, PLLC</li>
										<li>Paradise Valley Allergy Assoc Ltd</li>
										<li>Paul W. Sieckmann, M.D., P.C.</li>
										<li>Peter Ferrara M.D. P.C.</li>
										<li>Phoenix Orthopedic Group, P.C.</li>
										<li>Pulmonary Clinics of Scottsdale, PLLC</li>
										<li>QuestMedicine LTD</li>
										<li>Rajeev S. Kathuria, MD., P.C.</li>
										<li>Rimma Finkel, M.D., PLLC</li>
										<li>Scottsdale Cardiovascular Center, P.C.</li>
										<li>Scottsdale Critical Care, P.C.</li>
										<li>Scottsdale CVT Surgeons</li>
										<li>Scottsdale Emergency Associates, Ltd.</li>
										<li>Scottsdale Healthcare Corporation</li>
										<li>Scottsdale Medical Center, PLC</li>
										<li>Scottsdale Ob Gyn Specialists</li>
										<li>Scottsdale Pathology Associates</li>
										<li>Scottsdale Surgical Consultants, P.C.</li>
										<li>Scottsdale Womens Care, P.C.</li>
										<li>Sonoran Consultants in Obstetrics and Gynecology, P.C.</li>
										<li>Sonoran Foot Specialists, PLLC</li>
										<li>Southwest Diagnostic Imaging</li>
										<li>Southwest Heart and Lung PC</li>
										<li>Southwest Kidney Institute, PLC</li>
										<li>Spectrum Dermatology, PLLC</li>
										<li>Stephen R. Rosenthal, MD., P.C.</li>
										<li>Tara Brodkin MD</li>
										<li>The Center for Pain And Supportive Care</li>
										<li>The Heart Clinic, P.C.</li>
										<li>Thompson Peak Family Care, P.C.</li>
										<li>Tiffany Nelson, MD PLC</li>
										<li>Town Center Medical Group</li>
										<li>USHA Medical Services, PLC</li>
										<li>Valley ENT, P.C.</li>
										<li>Valley Integrated Pain, PLLC</li>
										<li>Valley Surgical Clinics, Ltd.</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="panel panel-default mix panel-bg graphis-design all">
							<div class="panel-heading">
								<div class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#governing-body">{{ company_name }} Governing Body</a>
								</div>
							</div>
							<div id="governing-body" class="panel-collapse collapse">
								<div class="panel-body">
									<ul class="list-style">
										<li>Dr. Tiffany Nelson, voting member, Chair, SHP, Desert Ridge Family Physicians</li>
										<li>Todd LaPorte, voting member, Vice-Chair SHP, Senior VP & Chief Finance & Strategy Officer, Scottsdale Healthcare</li>
										<li>Dr. John Neil, voting member, Secretary-Treasurer, President Scottsdale Medical Imaging</li>
										<li>Dr. Richard Silver, voting member, Vice President Physician Alignment</li>
										<li>Dr. James Burke, voting member, Senior VP, Chief Physician Executive, Scottsdale Healthcare</li>
										<li>Dr. Greg Crever, voting member, Gregory Crever Primary Care</li>
										<li>Dr. Gilberto Brito, voting member, Arizona Urology Specialists</li>
										<li>Karen Ford, RN, voting member, Director Case Management, Scottsdale Healthcare</li>
										<li>Robert Switsky, voting member, Medicare Beneficiary, retired</li>
										<li>Dr. Jim Whitfill, non-voting member, Chief Medical Officer</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="panel panel-default mix panel-bg web-design">
							<div class="panel-heading">
								<div class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#committees">{{ company_name }} Committees and Key Leadership Personnel</a>
								</div>
							</div>
							<div id="committees" class="panel-collapse collapse">
								<div class="panel-body">
									<ul class="list-style">
										<li>Quality and Performance Committee:  Gilberto Brito, MD – Chair</li>
										<li>Operations and Finance Committee:  Rod Owen, MD – Chair</li>
										<li>Information Technology Committee:  Jim Whitfill, MD – Chair</li>
										<li>Membership/Credentialing:  Daniel Gee, MD - Chair</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 work-section">
					<div class="panel-group list-style" id="accordion2">
						<div class="panel panel-default mix panel-bg web-design">
							<div class="panel-heading">
								<div class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion2" href="#amount">Aggregate Amount of Shared Savings/Losses</a>
								</div>
							</div>
							<div id="amount" class="panel-collapse collapse">
								<div class="panel-body">
									<ul class="list-style">
										<li>Performance Year 1: TBD</li>
										<li>Performance Year 2: TBD</li>
										<li>Performance Year 3: TBD</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="panel panel-default mix panel-bg web-design">
							<div class="panel-heading">
								<div class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion2" href="#distributed">How Shared Savings are Distributed</a>
								</div>
							</div>
							<div id="distributed" class="panel-collapse collapse">
								<div class="panel-body">
									<ul class="list-style">
										<label>After expenses, shared savings will be distributed as follows:</label>
										<li>10% of shared savings will be set aside for reserves.</li>
										<li>90% of shared savings will be distributed as follows contingent upon achieving quality criteria as determined by the Quality and Performance committee and approved by the Board of Managers:
										<ul class="list-style">
											<li>Physicians: 65%
											<ul class="list-style">
												<li>PCPs: 32.5%</li>
												<li>Specialist: 32.5%</li>
											</ul>
											</li>
											<li>Hospital: 35%</li>
										</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
